@use "../abstracts" as a;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: a.$color-background;
  color: a.$color-dark;
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}